* {
margin: 0;
padding: 0;
border-style: border-box;
}

.header {
display: flex;
justify-content: space-between;
margin: 30px;
}

.main__intro {
display: flex;
justify-content: space-between;
}

.main__intro .main__text {
display: block;
width: 400px;
margin-bottom: 60px;
margin-top: 60px;
justify-content: center;
text-align: center;
}

.main__photo {
    height: 400px;
    width: 350px;
    margin: 15px;
}

.main__techskills {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.main__techskills--text {
    margin-left: 60px; margin-right: 60px;
    margin-top: 15px; margin-bottom: 15px;
}

.projectslide__image {
height: 250px;
width: 300px;
}

.projectslide__description {
width: 300px;
}

.projectslide {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 30px
}

.projectslide__bottom {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 30px

}


.aboutme {
display: flex;
justify-content: space-evenly;
text-align: center;
background-color: #E3F6F5;
}

.projectsheader {
margin-left: 90px;
font-size: 40px;
font-style: oblique;
}


.aboutme__text {
justify-content: center;
text-align: center;
margin-left: 90px; margin-right: 90px;
margin-top: 100px;
}

.aboutme__text--header {

font-size: 30px;
margin-bottom: 30px;
/* font-style: oblique; */
}

.footer__text {
margin-top: 20px;
}

.footer__text--email {
margin-left: 20px;
}