* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

$primary-color: #BAE8E8;
$secondary-color: #272643;

.header__buttons {
    color: black;
    font-size: large;
}

.header__getintouch {
color: black;
background-color: $primary-color;
border-radius: 5px 5px 5px 5px;
width: 100px;
height: 30px;
box-shadow: slategray 3px 3px;
}

.main__button {
margin-left: 180px;
margin-top: -30px;
font-size: 15px;
background-color:$primary-color;
border-radius: 5px 5px 5px 5px;
width: 200px;
height: 30px;
box-shadow: slategray 3px 3px;
}

.main__text {
font-size: 30px;
margin-left: 80px;
}


/* .main__techskills--header {
font-style: oblique;
} */


.footer {
display: flex;
justify-content: space-between;
background-color: $secondary-color;
color: $primary-color; 
}

.projectslide__code {
    background-color: $primary-color;
    width: 90px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    box-shadow: slategray 3px 3px;
    margin-top: 10px;
}

.projectslide__preview {
    background-color: $primary-color;
    width: 90px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    box-shadow: slategray 3px 3px;

}

.projectslide__image:hover {
    opacity: 0.6;
}

.projectslide__code:hover, .projectslide__preview:hover {
    background-color: $secondary-color;
    color: #BAE8E8;
}

.main__button:active, .header__getintouch:active {
    background-color: $secondary-color;
    color: #BAE8E8;

}

