* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header__buttons {
    color: black;
}

.header__getintouch {
    color: darkblue;
    background-color: aquamarine;
    border: solid 2px darkblue;
}
